.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
}

#btnViewStationDetail{
    -fx-background-color: #FF807F;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#btnViewStationDetail:hover {
    -fx-cursor: hand;
    -fx-background-color: #FF5E5C;
}