.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
}

#btnSendBike{
    -fx-background-color: #68bf00;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#btnSendBike:hover {
    -fx-cursor: hand;
    -fx-background-color: #02a700;
}