.button {
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI";
}

.menu-button {
    -fx-font-family: "Segoe UI";
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-font-family: "Segoe UI";
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.menu-button:hover {
    -fx-font-family: "Segoe UI";
    -fx-cursor: hand;
}

#btnBack{
    -fx-background-radius: 3;
    -fx-background-color: #68bf00;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#btnBack:hover {
    -fx-background-color: #02a700;
    -fx-cursor: hand;
}

.text-field {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
}

#lbTitle {
    -fx-font-size: 28px;
    -fx-text-fill: #8bbe3b;
    -fx-font-family: "Segoe UI";
}

#btnLocation {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#ivEcoBikeLogo:hover {
    -fx-cursor: hand;
}

