#btnBack{
    -fx-background-radius: 3;
    -fx-background-color: #FF807F;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#btnBack:hover {
    -fx-background-color: #FF5E5C;
    -fx-cursor: hand;
}

.label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
}

#lbDepositAmount {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #FF807F;
}

#lbRentAmount {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

#lbTableTitle {
    -fx-font-size: 24px;
    -fx-text-fill: #FF807F;
    -fx-font-family: "Segoe UI";
}

#btnReturnBike {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
    -fx-background-radius: 3;
    -fx-background-color: #FF807F;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#btnReturnBike:hover {
    -fx-background-color: #FF5E5C;
    -fx-cursor: hand;
}

#btnPauseResumeRental {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
    -fx-background-radius: 3;
    -fx-background-color: #FF807F;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#btnPauseResumeRental:hover {
    -fx-background-color: #FF5E5C;
    -fx-cursor: hand;
}

#lbTitle {
    -fx-font-size: 28px;
    -fx-text-fill: #FF807F;
}

#ivEcoBikeLogo:hover {
    -fx-cursor: hand;
}
